header {
  width: 600px; /* Ширина сайдбара */
  position: relative;
  margin: auto;
}
article {
  background: #f0f0f0; /* Цвет фона */
  padding: 10px; /* Поля */
  width: 600px; /* Ширина сайдбара */
  position: relative;
  margin: auto;
}
footer{
  width: 600px; /* Ширина сайдбара */
  position: relative;
  margin: auto;
}
